body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
  }

.mfa-container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    height: 900px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: black;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  .close-btn:hover {
    background: grey;
  }
  
  .mfa-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  
  .mfa-list {
    list-style: none;
    padding: 0;
  }
  
  .mfa-list li {
    font-size: 16px;
    margin: 8px 0;
  }
  
  .next-btn {
    background-color: rgba(200, 210, 255, 0.7);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
  }

  .back-btn {
    background-color: rgba(200, 210, 255, 0.7);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    float: left;
  }

  .next-btn:hover, .back-btn:hover {
    background: rgba(73, 81, 132, 1);
  }

  .step-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  .step-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
