.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  width: 100%;
  justify-content: space-between; 
}

.logo {
  height: 60px;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
  gap: 50px;
}

.nav-button {
  padding: 8px 15px;
  /* background-color: rgb(91, 99, 153); */
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
  transition: background 0.3s;
}

.nav-button:hover {
  background-color: rgba(172, 186, 235, 0.7);
  color: black;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: black;
}

.leave-button {
  position: fixed; 
  top: 20px;
  right: 20px;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.leave-button:hover {
  opacity: 0.8;
  background-color: rgb(176, 0, 88);
  transform: translateY(-2px);
}

.spacer {
  width: 120px; 
  visibility: hidden; 
}